<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acclem : Email Verification </title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet'
        type='text/css'>
</head>

<style>
    .wrapper-progressBar {
        width: 100%
    }

    p {
        font-weight: 500
    }
</style>


<body style="width:100%; font-family: 'Raleway'; height:100%; background:#F0F0F0; margin:50px 0;">


    <div style="width: 800px;background-color: #fff;padding: 25px;margin:0 auto">

        <div style="text-align: center;padding: 10px 40px;">
            <img src="<%=Image_url%>/imgs/logo.png" alt="Accelm Logo" style="width: 250px;height: auto;padding:25px; " />
        </div>

        <div style="padding:20px 0px 0px 0px;text-align:center">


            <div style="text-align: center;">
                <img src="<%=Image_url%>/imgs/email-verify2.png" style="width: 200px;">
            </div>

            <h1>
               Verify your email address
            </h1>


        </div>



        <div style="padding: 1px 30px 0px;">
            <p style="font-weight: 500;
                         padding: 5px 100px;
                             text-align: center;">
               Thanks for signup with us. Please copy the confirmation code and paste it to your form to complete the email verification process.
        </div>

        <div style="text-align: center;padding: 10px 0px 20px;">
            <button style="
                      padding: 10px 24px;
                        background-color: #04033D!important;
                        color: #fff!important;
                        font-weight: 700;
                        border-radius: 5px;
                        border: 2px solid #04033D;
                        font-size: 21px;
                        width: 180px!important;
                        width: 180px;
                        text-align: center;
                        letter-spacing: 7px;
                    ">
                <%=OTP%>
            </button>
            <p style="padding: 10px;font-weight:500;font-size:13px;text-align: center;">*if you don't remember
                singning with us. You can ignore this email
            </p>
        </div>
    </div>
</body>

</html>